
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 20px 0;
    color: white;

}

li {
    display: inline-block;
    padding-right: 50px;
    font-size: 1.3rem;
}

.navbar-menu {
    display: flex;
    font-size: 2rem;
}

.nav-links {
    display: flex;
}
a {
    text-decoration: none;
    color: #def2f1;
    font-weight: bolder;
    font-size: 1.3rem;
    cursor: pointer;
}

a:hover {
    color:#feffff;
}

.navbar-logo {
    font-size: 1.5rem;
}

#logo-pic{
    width: 120%;
    height: auto;
}

@media screen and (max-width:750px) {
    .nav-links {
        /* position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        display: none;
    }
}

